<h3>Activation de votre compte</h3>
<p>
  Vous avez crée un compte sur notre site, veuillez cliquer le lien ci-dessous
  pour l'activation
</p>
<p>
  <a
    {# href="{{ path('http://127.0.0.1:8001/activation/', { token: token }) }}"
  ></a #}
  <a href="{{absolute_url(path('activation',{'token':token}))}}">Home</a>
  >Activer mon compte
</p>
