<h1>Hi!</h1>

<p>To reset your password, please visit the following link</p>
<pre>
    {{ dump(url) }}
</pre>
<a href="{{ url('app_reset_password', { resetToken: token }) }}">
  {{ url("app_reset_password", { resetToken: token }) }}
</a>

</p>

<p>Cheers!</p>
