.home-bg {
  background-image: url("/images/snow.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.margin-top {
  margin-top: 50px;
}
.tickes {
  display: flex;
  justify-content: center;
}
.trickcard_style {
  width: 40rem;
  height: 500px;
  margin: 15px;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.625em;
}
.card_read {
  width: 50rem;
  height: 30rem;
}
.margin {
  margin-top: 8px;
}
.trick {
  height: 40rem;
}
.trickinfo {
  display: flex;
  justify-content: space-around;
}
.creation_topic {
  display: flex;
  justify-content: center;
}
.read_view {
  justify-content: center;
  align-content: center;
  display: flex;
}
form {
  padding: 8px;
}
.form_row {
  margin: 18px;
}
.user-profile {
  max-height: 128px;
  max-width: 128px;
}
.center {
  justify-content: center;
}
.margin {
  display: flex;
}
.width {
  width: 200px;
}
#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(170, 75, 75); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.visibility {
  visibility: hidden;
}
