{% extends 'base.html.twig' %} {% block body %}
<h3>read</h3>
<section class="read_view">
  <div class="card card_read">
    <pre>
      {{ dump(trick.images) }}
    </pre>
    <img class="card-img-top" src="" alt="Card image cap" />
    <div class="card-body">
      <h4>{{ trick.trickName }}</h4>
      <p class="metadata">{{ trick.description }}</p>
      <p>{{ trick.categorie }}</p>
    </div>
  </div>
</section>
{% endblock %}
