{% extends 'base.html.twig' %} {% block body %}

<section class="tickes">
  <h3>read</h3>
  <article>
    <h3>{{ trick.trickName }}</h3>
    <div class="metadata">{{ trick.description }}</div>
    <div class="content">
      <img src="http://placehold.it/350*150" alt="" />
      <p>{{ trick.categorie }}</p>
      <br />
  </article>
</section>
{% endblock %}
