<h3>Activation de votre compte</h3>
<p>
  Vous avez crée un compte sur notre site,veuillez cliquer sur le lien
  ci-dessous pour l'activation
</p>
<p>
  <a href="{{ absolute_url(path('activation', { token: token })) }}"></a>Activer
  mon compte
</p>
