{% extends 'base.html.twig' %} {% block title %}Accés interdit {% endblock %} {%
block body %}
<h3>Accés interdit</h3>
<p>Vous n'avez pas la permission de voir cette page</p>
<p>Code de l'erreur : {{ status_code }}</p>
{% endblock %}
