{% extends 'base.html.twig' %} {% block title %}Page NotFound {% endblock %}
{%block body %}
<div class="container">
  <h3>Page non trouvée</h3>
  <p>La page que vous cherchez n'a pas été trouvée</p>
  <p>Code de l'erreur : {{ status_code }}</p>
</div>
{% endblock %}
